/* ::::: http://linux-ip.net/articles/Traffic-Control-HOWTO/Traffic-Control-HOWTO.css ::::: */

:link { color: rgb(0, 0, 153); text-decoration: none; }
:visited { color: rgb(0, 0, 153); text-decoration: none; }
BODY { color: black; background-color: rgb(255, 255, 255); }
.calloutlist { padding-left: 0.5em; padding-right: 0.5em; margin: 0em 0% 0.2em; }
