/* ::::: http://www.tornadoweb.org/documentation/_static/sphinx.css ::::: */

/* ::::: http://www.tornadoweb.org/documentation/_static/default.css ::::: */

/* ::::: http://www.tornadoweb.org/documentation/_static/basic.css ::::: */

div.clearer { clear: both; }
div.related { width: 100%; font-size: 90%; }
div.related h3 { display: none; }
div.related ul { margin: 0pt; padding: 0pt 0pt 0pt 10px; list-style: none outside none; }
div.related li { display: inline; }
div.related li.right { float: right; margin-right: 5px; }
div.sphinxsidebarwrapper { padding: 10px 5px 0pt 10px; }
div.sphinxsidebar { float: left; width: 230px; margin-left: -100%; font-size: 90%; }
div.sphinxsidebar ul { list-style: none outside none; }
div.sphinxsidebar ul ul, div.sphinxsidebar ul.want-points { margin-left: 20px; list-style: square outside none; }
div.sphinxsidebar ul ul { margin-top: 0pt; margin-bottom: 0pt; }
div.sphinxsidebar form { margin-top: 10px; }
div.sphinxsidebar input { border: 1px solid rgb(152, 219, 204); font-family: sans-serif; font-size: 1em; }
a.headerlink { visibility: hidden; }
h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink, h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink, dt:hover > a.headerlink { visibility: visible; }
.first { margin-top: 0pt ! important; }
dl { margin-bottom: 15px; }
dd p { margin-top: 0px; }
dd { margin-top: 3px; margin-bottom: 10px; margin-left: 30px; }
dt:target, .highlighted { background-color: rgb(251, 229, 78); }
pre { overflow-x: auto; overflow-y: hidden; }
tt.descname { background-color: transparent; font-weight: bold; font-size: 1.2em; }
tt.descclassname { background-color: transparent; }
tt.xref, a tt { background-color: transparent; font-weight: bold; }
h1 tt, h2 tt, h3 tt, h4 tt, h5 tt, h6 tt { background-color: transparent; }
.viewcode-link { float: right; }
body { font-family: Georgia,serif; font-size: 100%; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); margin: 0pt; padding: 0pt; }
div.document { background-color: rgb(255, 255, 255); }
div.documentwrapper { float: left; width: 100%; }
div.bodywrapper { margin: 0pt 0pt 0pt 230px; }
div.body { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); padding: 0pt 20px 30px; }
div.footer { color: rgb(0, 0, 0); width: 100%; padding: 9px 0pt; text-align: center; font-size: 75%; }
div.footer a { color: rgb(0, 0, 0); text-decoration: underline; }
div.related { background-color: rgb(255, 255, 255); line-height: 30px; color: rgb(0, 0, 0); }
div.related a { color: rgb(33, 96, 147); }
div.sphinxsidebar { top: 30px; bottom: 0pt; margin: 0pt; position: fixed; overflow: auto; height: auto; }
div.sphinxsidebar h3 { font-family: Calibri,sans-serif; color: rgb(77, 140, 191); font-size: 1.4em; font-weight: normal; margin: 0pt; padding: 0pt; }
div.sphinxsidebar h3 a { color: rgb(77, 140, 191); }
div.sphinxsidebar h4 { font-family: Calibri,sans-serif; color: rgb(77, 140, 191); font-size: 1.3em; font-weight: normal; margin: 5px 0pt 0pt; padding: 0pt; }
div.sphinxsidebar p { color: rgb(77, 140, 191); }
div.sphinxsidebar p.topless { margin: 5px 10px 10px; }
div.sphinxsidebar ul { margin: 10px; padding: 0pt; color: rgb(77, 140, 191); }
div.sphinxsidebar a { color: rgb(33, 96, 147); }
div.sphinxsidebar input { border: 1px solid rgb(33, 96, 147); font-family: sans-serif; font-size: 1em; }
a { color: rgb(33, 96, 147); text-decoration: none; }
a:visited { color: rgb(33, 96, 147); text-decoration: none; }
a:hover { text-decoration: underline; }
div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 { font-family: Calibri,sans-serif; background-color: rgb(255, 255, 255); font-weight: normal; color: rgb(77, 140, 191); border-bottom: 1px solid rgb(204, 204, 204); margin: 20px -20px 10px; padding: 3px 0pt 3px 10px; }
div.body h1 { margin-top: 0pt; font-size: 200%; }
div.body h2 { font-size: 160%; }
a.headerlink { color: rgb(198, 15, 15); font-size: 0.8em; padding: 0pt 4px; text-decoration: none; }
a.headerlink:hover { background-color: rgb(198, 15, 15); color: white; }
div.body p, div.body dd, div.body li { text-align: justify; line-height: 130%; }
pre { padding: 5px; background-color: rgb(255, 255, 255); color: rgb(0, 102, 0); line-height: 120%; border-width: 1px medium; border-style: solid none; border-color: rgb(170, 204, 153) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; }
tt { background-color: rgb(236, 240, 243); padding: 0pt 1px; font-size: 0.95em; }
div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6, div.sphinxsidebar h3, div.sphinxsidebar h4 { font-weight: bold; border-bottom: medium none; }
pre { line-height: 14pt; margin: 17pt; padding-left: 1em; border-width: medium medium medium 1px; border-style: none none none solid; border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; }
div.body p, div.body dd, div.body li { text-align: left; }
.highlight { background: none repeat scroll 0% 0% rgb(255, 255, 255) ! important; }
div.related { position: fixed; }
div.body { top: 30px; bottom: 0pt; right: 0pt; left: 230px; margin: 0pt; position: fixed; overflow: auto; height: auto; }
div.related, div.sphinxsidebar { font-family: Calibri,sans-serif; }
/* ::::: http://www.tornadoweb.org/documentation/_static/pygments.css ::::: */

.highlight { background: none repeat scroll 0% 0% rgb(238, 255, 204); }
