/* ::::: http://www.voidspace.org.uk/res/style.css ::::: */

body { margin: 0pt; padding: 0pt; background: url('img01.jpg') repeat-x scroll left top rgb(255, 255, 255); font-family: Arial,Helvetica,sans-serif; font-size: 12px; }
h1, h2, h3 { margin: 0pt; padding: 0pt; font-family: Arial,Helvetica,sans-serif; font-weight: normal; color: rgb(249, 61, 0); }
h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.6em; }
p, ul, ol { margin-top: 0pt; line-height: 180%; }
ul, ol {  }
a { text-decoration: none; color: rgb(0, 0, 160); }
a:hover { text-decoration: underline; }
#wrapper { width: 900px; margin: 0pt auto; padding: 0pt; }
#content img { border: 0pt none; }
#header { width: 900px; height: 100px; margin: 0pt auto; }
#logo { float: left; width: 900px; height: 100px; margin: 0pt; background: url('img05.jpg') no-repeat scroll left 25px transparent; color: rgb(255, 255, 255); }
#logo h1, #logo p { margin: 0pt; padding: 0pt; text-transform: uppercase; }
#logo h1 { padding-top: 25px; padding-left: 60px; letter-spacing: -1px; font-size: 2.2em; font-weight: bold; }
#logo p { margin-top: -6px; padding-left: 62px; font-size: 11px; color: rgb(0, 0, 0); }
#logo a { border: medium none; background: none repeat scroll 0% 0% transparent; text-decoration: none; color: rgb(208, 16, 16); }
#menu { width: 900px; height: 50px; margin: 0pt auto; padding: 0pt; }
#menu ul { margin: 0pt; padding: 0pt; list-style: none outside none; line-height: normal; }
#menu li { float: left; height: 40px; padding-top: 10px; background: url('img04.gif') no-repeat scroll left 16px transparent; }
#menu a { display: block; padding: 0px 17px; border: medium none; text-decoration: none; font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(255, 255, 255); }
#menu a:hover, #menu .current_page_item a {  }
#menu .current_page_item a {  }
#menu a:hover { text-decoration: underline; }
#page { width: 900px; margin: 0pt auto; padding-top: 30px; }
#page-bgtop {  }
#page-bgbtm {  }
#content { float: right; width: 635px; }
#sidebar { float: left; width: 250px; }
#sidebar ul { margin: 0pt; padding: 0pt; list-style: none outside none; }
#sidebar li { margin: 0pt; padding: 0pt; }
#sidebar li ul { padding-bottom: 30px; }
#sidebar li li { margin-left: 15px; margin-right: 15px; line-height: 35px; border-bottom: 1px dashed rgb(210, 212, 201); }
#sidebar h2 { height: 25px; padding: 5px 0pt 0pt 35px; background: url('img02.jpg') no-repeat scroll left top transparent; font-size: 12px; color: rgb(0, 0, 0); }
#sidebar p { margin: 0pt 15px; padding: 20px 0px; text-align: justify; color: rgb(120, 120, 120); }
#sidebar a { color: rgb(0, 0, 0); border: medium none; }
#sidebar a:hover { text-decoration: underline; }
#footer { width: 100%; background: none repeat scroll 0% 0% rgb(44, 44, 44); height: 50px; margin: 0pt auto; padding: 0px 0pt 15px; font-family: Arial,Helvetica,sans-serif; }
#footer p { margin: 0pt; padding-top: 20px; line-height: normal; font-size: 9px; text-transform: uppercase; text-align: center; }
#footer a { color: rgb(150, 150, 150); }
.image_container { width: 100%; text-align: center; margin: 10px; }
.move_right { padding-left: 30px; }
/* ::::: http://cache.blogads.com/842841053/feed.css ::::: */

div#adspot_842841053.adspot { border-spacing: 0pt; overflow: hidden; background-color: rgb(238, 238, 238); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid; width: 162px ! important; font-size: 10pt; }
div#adspot_842841053 .adspot_head { font-family: Arial; font-size: 10pt; color: rgb(0, 0, 0); font-weight: bold; font-style: normal; text-decoration: none; text-align: left; }
div#adspot_842841053 a.adspot_link, div#adspot_842841053 a.adspot_adurl { font-family: Arial; font-size: 8pt; font-style: italic; color: rgb(170, 0, 0); font-weight: normal; margin: 0pt; padding: 0pt; display: inline; text-decoration: underline; text-align: left; background-image: none; }
div#adspot_842841053 a.adspot_link:link, div#adspot_842841053 a.adspot_link:visited, div#adspot_842841053 a.adspot_adurl:link, div#adspot_842841053 a.adspot_adurl:visited { color: rgb(170, 0, 0); text-decoration: underline; font-size: 8pt; font-style: italic; }
div#adspot_842841053 a.adspot_link:active, div#adspot_842841053 a.adspot_link:hover, div#adspot_842841053 a.adspot_adurl:active, div#adspot_842841053 a.adspot_adurl:hover { color: rgb(170, 0, 0); text-decoration: none; }
div#adspot_842841053 * ul { list-style: none outside none; width: 162px; margin: 0pt; padding: 0pt; }
div#adspot_842841053 div.adspot_link { width: 162px ! important; text-align: left; padding: 0pt 4px 4px; }
div#adspot_842841053 * ul { list-style: none outside none; width: 162px; margin: 0pt; padding: 0pt; }
/* ::::: http://www.voidspace.org.uk/stylesheets/rest.css ::::: */

/* ::::: http://www.voidspace.org.uk/stylesheets/default.css ::::: */

.first { margin-top: 0pt ! important; }
.last, .with-subtitle { margin-bottom: 0pt ! important; }
a.toc-backref { text-decoration: none; color: black; }
div.admonition, div.attention, div.caution, div.danger, div.error, div.hint, div.important, div.note, div.tip, div.warning { margin: 2em; border: medium outset; padding: 1em; }
div.admonition p.admonition-title, div.hint p.admonition-title, div.important p.admonition-title, div.note p.admonition-title, div.tip p.admonition-title { font-weight: bold; font-family: sans-serif; }
div.sidebar { margin-left: 1em; border: medium outset; padding: 1em; background-color: rgb(255, 255, 238); width: 40%; float: right; clear: right; }
div.topic { margin: 2em; }
h1.title { text-align: center; }
h2.subtitle { text-align: center; }
hr.docutils { width: 75%; }
ol.simple, ul.simple { margin-bottom: 1em; }
p.sidebar-title { font-family: sans-serif; font-weight: bold; font-size: larger; }
p.topic-title { font-weight: bold; }
pre.literal-block, pre.doctest-block { margin-left: 2em; margin-right: 2em; background-color: rgb(238, 238, 238); }
table.docutils { margin-top: 0.5em; margin-bottom: 0.5em; }
table.footnote { border-left: thin solid black; }
table.docutils td, table.docutils th, table.docinfo td, table.docinfo th { padding-left: 0.5em; padding-right: 0.5em; vertical-align: top; }
tt.docutils { background-color: rgb(238, 238, 238); }
em, i { font-family: Times New Roman,Times,serif; }
a.toc-backref { text-decoration: none; color: black; }
a.toc-backref:hover { background: none repeat scroll 0% 0% transparent ! important; }
div.attention, div.caution, div.danger, div.error, div.hint, div.important, div.note, div.tip, div.warning { background-color: rgb(204, 204, 204); padding: 3px; width: 80%; }
div.admonition p.admonition-title, div.hint p.admonition-title, div.important p.admonition-title, div.note p.admonition-title, div.tip p.admonition-title { text-align: center; background-color: rgb(153, 153, 153); display: block; margin: 0pt; }
h3 a.toc-backref, h4 a.toc-backref, h5 a.toc-backref, h6 a.toc-backref { color: rgb(0, 0, 0); }
table.footnote { padding-left: 0.5ex; }
pre.literal-block, pre.doctest-block { border: thin solid black; padding: 5px; }
code, tt { color: rgb(0, 0, 102); }
span.pre { white-space: normal; }
/* ::::: http://www.voidspace.org.uk/stylesheets/void.css ::::: */

.zentrum3 { text-align: center; border: medium solid blue; margin: 0pt auto; background-color: rgb(238, 221, 221); padding: 5px; width: 560px; border-radius: 10px 10px 10px 10px; }
.zentrum4 { text-align: center; border: medium solid blue; margin: 0pt auto; background-color: rgb(238, 221, 221); padding: 5px; width: 620px; border-radius: 10px 10px 10px 10px; }
.title { text-align: center; padding: 0px; max-width: 80%; margin: 10px auto; }
/* ::::: http://www.voidspace.org.uk/stylesheets/pysrc.css ::::: */

.pysrc { border: 2px dotted rgb(192, 192, 255); font-weight: normal; background: none repeat scroll 0% 0% rgb(224, 224, 255); margin: 20px; padding: 10px; }
.pykeyword { font-weight: bold; color: orange; }
.pystring { color: green; }
.pycomment { color: red; }
.pynumber { color: purple; }
.pyoperator { color: purple; }
.pytext { color: black; }
/* ::::: http://www.voidspace.org.uk/stylesheets/pygments.css ::::: */

