a { color: rgb(0, 0, 255); }
body, table, div, ul, li { margin: 0pt; padding: 0pt; }
#abgt .curve div { background-color: rgb(51, 102, 153); }
#ads { height: 260px; left: 1px; position: absolute; top: 1px; width: 334px; }
#ads ul { list-style: none outside none; }
#ads ul li { clear: both; float: left; height: 63px; line-height: 0; padding: 1px 4px; overflow: hidden; width: 326px; }
.ad { text-align: left; }
.adc { height: 63px; table-layout: fixed; width: 100%; }
.adt { font-size: 14px; font-weight: bold; line-height: 1.2; }
.adt:hover { color: rgb(255, 0, 0); }
.adtuc { white-space: nowrap; }
.adb { color: rgb(0, 0, 0); font-size: 14px; line-height: 1.2; }
.adu { color: rgb(0, 128, 0); font-size: 10px; line-height: 1.2; overflow: hidden; text-decoration: underline; white-space: nowrap; }
.adus { cursor: pointer; }
.attribution li { float: right; height: 18px; }
#smac div { height: 14px; width: 15px; position: relative; }
