a { color: rgb(0, 51, 102); }
body, table, div, ul, li { margin: 0pt; padding: 0pt; }
#ads { height: 182px; left: 0px; position: absolute; top: 0px; width: 200px; }
#ads ul { list-style: none outside none; }
#ads ul li { clear: both; float: left; height: 89px; line-height: 0; padding: 1px 4px; overflow: hidden; width: 192px; }
.ad { text-align: left; }
.adc { height: 89px; table-layout: fixed; width: 100%; }
.adt { font-size: 16px; font-weight: bold; line-height: 1.2; }
.adt:hover { color: rgb(102, 0, 51); }
.adb { color: rgb(0, 0, 0); font-size: 15px; line-height: 1.2; }
.adu { color: rgb(0, 51, 102); font-size: 10px; line-height: 1.2; overflow: hidden; text-decoration: underline; white-space: nowrap; }
.adus { cursor: pointer; }
.attribution li { float: right; height: 18px; }
