/* ::::: https://plusone.google.com/_/apps-static/_/ss/plusone/ver=-dy91lis8judq/am=!Aaw9TR0V_JYI_rVq/bf=wgE/r=O ::::: */

* html .a-l-k, :first-child + html .a-l-k { display: inline; }
.t5 { float: left; white-space: nowrap; }
.c-Hv-Pe-Tza { margin: 0pt; padding: 0pt; }
.s5 { outline: 0pt none; text-decoration: none; display: block; }
.KF { width: 32px; height: 20px; }
.Uu .KF { background: url('sprite2.png') no-repeat scroll -132px -21px transparent; }
.Uu a.KF:hover { background: url('sprite2.png') no-repeat scroll -165px -21px transparent; }
.Uu a.KF:active { background: url('sprite2.png') no-repeat scroll -99px -21px transparent; }
.MN, .LN, .KN { float: left; }
.uW, .vW { background: url('sprite2.png') no-repeat scroll 0% 0% transparent; float: left; }
.sW { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-width: 1px; border-style: solid none; border-color: rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; float: left; }
.tW { color: rgb(102, 102, 102); font-family: arial,sans-serif; overflow: hidden; white-space: nowrap; }
.LN { padding-left: 1px; padding-right: 1px; }
.LN .uW { background-position: -207px -21px; height: 20px; width: 6px; }
.LN .vW { background-position: -252px -21px; height: 20px; width: 2px; }
.LN .sW { max-width: 47px; min-width: 10px; }
.LN .tW { font-size: 11px; margin: 1px 6px; height: 16px; line-height: 17px; }
