/* ::::: http://s7.addthis.com/static/r07/counter71.css ::::: */

.addthis_counter { font-weight: bold; display: block; border: 0pt none; cursor: pointer; color: rgb(255, 255, 255); }
.addthis_counter a { display: block; font-family: arial,helvetica,sans-serif ! important; text-decoration: none ! important; border: 0pt none; }
.addthis_counter { text-decoration: none ! important; text-align: left; }
.addthis_counter a.atc_s { display: block; background: url('nsc01.gif') no-repeat scroll 0pt 0pt transparent; width: 50px; height: 20px; line-height: 20px; overflow: hidden; cursor: pointer; }
.addthis_counter a.atc_s:hover { background-position: 0pt -20px; height: 20px; }
.addthis_counter.addthis_pill_style a.addthis_button_expanded:hover, .addthis_counter.addthis_pill_style a.atc_s:hover, .addthis_counter a.addthis_button_expanded:hover, .addthis_counter a.atc_s:hover { text-decoration: none; color: rgb(0, 0, 0); }
.addthis_counter .addthis_button_expanded { display: block; background: url('nsc01.gif') no-repeat scroll 0pt -40px transparent; width: 50px; height: 33px; line-height: 33px; padding-bottom: 4px; margin-bottom: 3px; text-align: center; text-decoration: none; font-size: 16px; font-weight: bold; color: rgb(51, 51, 51); }
.addthis_counter .addthis_button_expanded:hover { background-position: 0pt -77px; cursor: pointer; color: rgb(0, 0, 0); }
.addthis_counter.addthis_pill_style { display: inline-block; height: 20px; overflow: hidden; }
.addthis_counter.addthis_pill_style a.atc_s { float: left; }
.addthis_counter.addthis_pill_style a.addthis_button_expanded { display: none; background: url('nsc01.gif') no-repeat scroll 0pt -114px transparent; width: 34px ! important; height: 20px; line-height: 20px; margin: 0pt 0pt 0pt 3px; padding: 0pt 0pt 0pt 4px; float: left; text-align: center; text-decoration: none; font-family: arial,helvetica,sans-serif; font-weight: bold; font-size: 11px; color: rgb(51, 51, 51); }
.addthis_counter.addthis_pill_style.addthis_nonzero a.addthis_button_expanded { display: block ! important; }
.addthis_counter.addthis_pill_style a.addthis_button_expanded:hover { background-position: 0pt -134px; }
.addthis_default_style .addthis_counter { display: block; float: left; }
/* ::::: http://s7.addthis.com/static/r07/widgetbig71.css ::::: */

.addthis_32x32_style .at15nc.at300bs, .addthis_32x32_style .at15nc.at15t { background: url('widget35_32x32.png') no-repeat scroll 0pt 0pt transparent ! important; }
.addthis_32x32_style .at15nc.at15t_digg { background-position: 0pt -2176px ! important; }
.addthis_32x32_style .at15nc.at15t_facebook { background-position: 0pt -3200px ! important; }
.addthis_32x32_style .at15nc.at15t_more { background-position: 0pt -6816px ! important; }
.addthis_32x32_style .at15nc.at15t_pingfm { background-position: 0pt -7840px ! important; }
.addthis_32x32_style .at15nc.at15t_reddit { background-position: 0pt -8384px ! important; }
.addthis_32x32_style .at15nc.at15t_stumbleupon { background-position: 0pt -9440px ! important; }
.addthis_32x32_style .at15nc.at15t_twitter { background-position: 0pt -10368px ! important; }
/* ::::: http://s7.addthis.com/static/r07/widget71.css ::::: */

.addthis_toolbox.addthis_default_style span { line-height: 16px; }
.addthis_toolbox.addthis_32x32_style span { line-height: 32px; }
div.atclear { clear: both; }
.addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at300m, .addthis_default_style .at300bs { float: left; }
.addthis_default_style .at300b, .addthis_default_style .at300m { padding: 0pt 2px; }
.at300b, .at300m, .at300bs { cursor: pointer; }
.at300b:hover { opacity: 0.8; }
.at300bs:hover { opacity: 0.8; }
.addthis_32x32_style .at300bs, .addthis_32x32_style .at15t { background: url('widget35_32x32_top.png') no-repeat scroll 0pt 0pt transparent; overflow: hidden; display: block; height: 32px; width: 32px; line-height: 32px ! important; }
.at300bs { background: url('widget35.png') no-repeat scroll 0pt 0pt transparent; overflow: hidden; display: block; height: 16px; width: 16px; line-height: 16px ! important; }
.addthis_32x32_style .at15t_digg { background-position: 0pt -128px; }
.addthis_32x32_style .at15t_facebook { background-position: 0pt -224px; }
.addthis_32x32_style .at15t_reddit { background-position: 0pt -576px; }
.addthis_32x32_style .at15t_stumbleupon { background-position: 0pt -608px; }
.addthis_32x32_style .at15t_twitter { background-position: 0pt -640px; }
.at15t_digg { background-position: 0pt -1056px; }
.at15t_facebook { background-position: 0pt -1552px; }
.at15t_more { background-position: 0pt -3376px; }
.at15t_pingfm { background-position: 0pt -3904px; }
.at15t_reddit { background-position: 0pt -4176px; }
.at15t_stumbleupon { background-position: 0pt -4704px; }
.at15t_twitter { background-position: 0pt -5168px; }
:first-child + html #at_email textarea { height: 42px ! important; }
* html #at16psf input, :first-child + html #at16psf input { padding: 0pt; }
:first-child + html #at_email #at16eatdr { top: 115px ! important; width: 272px ! important; }
#_atssh { width: 1px ! important; height: 1px ! important; border: 0pt none ! important; }
/* ::::: http://www.linuxreaders.com/wp-content/plugins/wp-minify/min/?f=wp-content/themes/swift/style.css,wp-content/uploads/swift_custom/custom-style.css,wp-content/plugins/wp-syntax/wp-syntax.css,wp-content/plugins/tabber-tabs-widget/tabber.css&m=1311843353 ::::: */

html { color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; }
table { border-collapse: collapse; border-spacing: 0pt; }
fieldset, img { border: 0pt none; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: inherit; font-weight: inherit; }
del, ins { text-decoration: none; }
li { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
abbr, acronym { border: 0pt none; font-variant: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
input, button, textarea, select { font-size: 100%; }
body { font-size: 75%; }
body { font: 14px/1.5em Georgia,serif; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(51, 51, 51); }
a { color: rgb(0, 102, 153); }
a:hover { color: rgb(255, 102, 0); }
h1, h2, h3, h4, h5, h6, .nivo-caption { font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif; line-height: 1.5em; }
h1 { font-size: 3em; margin-bottom: 0.5em; line-height: 1em; }
h2 { font-size: 2em; margin-bottom: 0.75em; line-height: 1.5em; }
h3 { font-size: 1.5em; margin-bottom: 1em; line-height: 1em; }
h4 { font-size: 1em; margin-bottom: 1.5em; line-height: 1.5em; }
h4, h5, h6 { font-weight: bold; }
p, pre, code, address { margin: 0pt 0pt 1.5em; }
b, strong { font-weight: bold; }
ins { text-decoration: underline; }
pre { font-family: "Courier New",Courier,monospace; }
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 { display: inline; float: left; margin-left: 10px; margin-right: 10px; }
.grid_4 { width: 220px; }
.grid_10 { width: 580px; }
.grid_16 { width: 940px; }
.grid_960 { margin: 0pt auto; width: 960px; }
#main-container { padding-top: 10px; }
#content { margin: 0pt 10px; }
.wide-sidebar { width: 340px; margin: 0pt 10px; }
#sb1, #sb2 { width: 160px; margin: 0pt 10px 10px; }
#footer { background: none repeat scroll 0% 0% rgb(0, 80, 120); padding: 1em 10px; }
.footer-widgets { width: 220px; margin: 0pt 10px; display: inline; float: left; }
#related-posts, #sb-container, #sb1, #sb2, .footer-widgets { display: inline; float: left; }
.alpha { margin-left: 0pt; }
.omega { margin-right: 0pt; }
#header { padding: 10px 0pt; }
h1.blogname a, h2.blogname a { margin-bottom: 0pt; text-decoration: none; color: rgb(0, 102, 153); font-family: Georgia,"Times New Roman",Times,serif; }
h1.blogname, h2.blogname { font-size: 4em; line-height: 0.7em; margin: 0.3em 0pt; }
h2.blog-title { font-size: 1em; line-height: 1em; color: rgb(0, 0, 0); padding-bottom: 0.5em; }
#nav-search { float: right; margin: 0.1em 10px; }
#navsearch { padding: 0.1em 22px 0.2em 0.2em; font-size: 0.9em; width: 13em; height: 1.6em; font-style: italic; color: rgb(68, 68, 68); border: 1px solid rgb(204, 204, 204); background: url('search.png') no-repeat scroll right center rgb(255, 255, 255); border-radius: 3px 3px 3px 3px; }
#nav-ad-container { background: none repeat scroll 0% 0% rgb(246, 246, 246); padding: 8px 0pt; }
h1.post-title { margin: 0pt; line-height: 1em; font-size: 3em; word-wrap: break-word; }
.post-title a { font-weight: normal; text-decoration: none; color: rgb(0, 102, 153); }
.post-meta { color: rgb(170, 170, 170); font-size: 0.6em; margin: 0.5em 0pt; font-style: italic; }
.post-meta a { text-decoration: none; }
span.uppercase { font-style: normal; text-transform: uppercase; }
.border { display: block; border-bottom: 1px dotted rgb(204, 204, 204); margin-top: -0.4em; }
.entry { margin: 1em 0pt; word-wrap: break-word; }
.entry p { text-align: justify; }
.entry img { padding: 0pt 10px 0.5em; }
.post-nav { background: none repeat scroll 0% 0% rgb(0, 0, 0); color: rgb(238, 238, 238); margin: 0pt -10px; padding: 0.25em; }
.post-nav a { text-decoration: none; }
#rp-wrapper { background: none repeat scroll 0% 0% rgb(34, 34, 34); padding: 0pt 10px; color: rgb(242, 242, 242); margin-bottom: 2em; }
#rp-wrapper a { color: rgb(255, 255, 255); }
#rp-wrapper a:hover { color: rgb(255, 102, 0); }
#rp-wrapper ol li { list-style: decimal outside none; margin-left: 2em; }
#rp-wrapper li a { text-decoration: none; }
#related-posts { margin: 0pt 10px; width: 48%; float: left; min-height: 120px; }
#related-posts li { margin: 0pt 0pt 0.5em 2em; font-size: 0.8em; }
#subscribe { margin-left: 10px; }
#rp-wrapper span.tags { font-style: italic; font-size: 0.8em; display: block; border-top: 1px solid rgb(51, 51, 51); margin: 0.6em -10px 0pt; padding: 0.6em 10px; }
#sb1, #sb2 { word-wrap: break-word; }
.widget { background: none repeat scroll 0% 0% rgb(246, 246, 246); padding: 5px; margin-bottom: 1em; border: 1px solid rgb(238, 238, 238); border-radius: 5px 5px 5px 5px; }
h4.widget-title { background: none repeat scroll 0% 0% rgb(238, 238, 238); display: block; margin: -5px -5px 0.2em; padding: 0.3em 5px; letter-spacing: 0.1em; font-weight: lighter; font-size: 1.2em; }
.widget a { color: rgb(0, 102, 153); text-decoration: none; }
.widget a:hover { color: rgb(255, 102, 0); }
.widget ul { margin: 0pt; }
.widget ul li { list-style: none outside none; border-bottom: 1px dotted rgb(204, 204, 204); margin: 0pt -5px; padding: 0.3em 0.5em; }
.widget ul li:hover { background: none repeat scroll 0% 0% rgb(238, 238, 238); border-bottom-style: solid; }
#footer-container {  }
#footer {  }
.widget_subscribebox { background: url('sprites.png') no-repeat scroll right -318px rgb(215, 229, 237); padding: 0.7em 1em 1.5em; }
.subscribe-box { margin: auto; padding: 0pt 10px; font-size: 1.2em; }
.subscribe-box input { float: left; }
.subscribe-box input.subscribe-button { letter-spacing: 1px; width: 90px; float: right; display: inline; margin-top: -2px; }
ol.commentlist { margin-top: 1em; }
ol.commentlist li.comment { list-style: none outside none; }
li.comment, li.trackback { background: none repeat scroll 0% 0% rgb(246, 246, 246); padding: 1em; border-style: solid; border-color: rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; margin-bottom: 1em; border-width: 5px 1px 1px; }
li.comment ul.children { padding-top: 1em; }
li.comment .avatar { float: left; padding: 0.4em; background: none repeat scroll 0% 0% rgb(221, 221, 221); margin: 0pt 1em 0.5em 0pt; }
div.reply a { background: none repeat scroll 0% 0% rgb(0, 102, 153); padding: 0.2em 0.8em; width: 2.8em; position: relative; bottom: 2.2em; margin: 10px 0pt ! important; float: right; text-decoration: none; font-weight: bold; color: rgb(255, 255, 255); }
.children { margin: 1em 0pt 1em 2em; }
.children li.comment { margin-bottom: 0.5em; }
cite.fn { font-size: 1.5em; font-style: italic; }
.comment-meta a { font-size: 0.8em; font-style: italic; text-decoration: none; }
span.says { display: none; }
li.comment p { margin-bottom: 1.5em; }
li.comment ul li, li.comment ol li ul li { list-style: square outside none; }
li.comment li { margin: 0pt 0pt 1em 3em; }
h3#reply-title { margin: 1em 0pt 0pt; background: none repeat scroll 0% 0% rgb(221, 221, 221); display: block; padding: 0.4em 0.5em; border-top-right-radius: 5px; border-top-left-radius: 5px; }
#commentform { background: none repeat scroll 0% 0% rgb(238, 238, 238); padding: 1em; color: rgb(51, 51, 51); margin: 0pt 0pt 1em; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
#commentform label { font-size: 1.2em; }
#commentform .required { font-weight: bolder; font-size: 1.5em; }
#commentform input { padding: 0.5em 0.3em; border: 1px solid rgb(204, 204, 204); border-radius: 5px 5px 5px 5px; width: 95% ! important; }
#commentform textarea { padding: 0.5em; width: 95% ! important; border: 1px solid rgb(204, 204, 204); border-radius: 5px 5px 5px 5px; }
#commentform #submit { font-weight: bold; background: none repeat scroll 0% 0% rgb(0, 102, 153); color: rgb(255, 255, 255); width: 13em ! important; padding: 0.5em 0pt; font-size: 1.5em; cursor: pointer; }
#commentform #submit:hover { background: none repeat scroll 0% 0% rgb(2, 141, 210); border-color: rgb(0, 102, 153); color: rgb(255, 255, 255); }
a#cancel-comment-reply-link { float: right; padding: 0.5em; background: none repeat scroll 0% 0% rgb(0, 102, 153); color: rgb(255, 255, 255); }
#comment-nav { padding: 0.5em; margin: 1em 0pt; }
#copyright { margin: auto; background: none repeat scroll 0% 0% rgb(221, 221, 221); border-top: 1px solid rgb(204, 204, 204); padding: 0.5em 10px; color: rgb(34, 34, 34); font-size: 0.8em; width: 940px; }
#copyright a { color: rgb(51, 51, 51); text-decoration: underline; }
#copyright a:hover { color: rgb(255, 102, 0); }
#copyright strong { font-weight: normal; }
table tr td, table tr th { padding: 3px; vertical-align: middle; }
#main-container { padding-bottom: 10px; }
.alignleft { float: left; }
.alignright { float: right; }
.bypostauthor {  }
.radius5, .reply a, li.comment .avatar, .read-more { border-radius: 5px 5px 5px 5px; }
.radius10, li.comment, li.trackback { border-radius: 10px 10px 10px 10px; }
ul.item-list li:after, .avatar-block:after, .clearfix:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.avatar-block, .clearfix { display: inline-block; }
.avatar-block, .clearfix { display: block; }
.clear { clear: both; }
#nav1-container, #nav2-container { background: none repeat scroll 0% 0% rgb(242, 242, 242); }
#nav1-container { border-bottom: 5px solid rgb(0, 102, 153); }
#nav2-container { border-top: 5px solid rgb(0, 102, 153); }
ul.navigation { float: left; }
.navigation, .navigation ul { margin: 0pt; padding: 0pt; list-style-type: none; position: relative; }
.navigation a { display: block; padding: 4px 12px; border-right: 1px solid rgb(204, 204, 204); text-decoration: none; color: rgb(0, 0, 0); }
.navigation a:hover, .navigation li.current-menu-item a { color: rgb(255, 255, 255); }
.navigation li:hover, .navigation li.current-menu-item a { background: none repeat scroll 0% 0% rgb(0, 102, 153); }
.navigation li:hover a { color: rgb(255, 255, 255); }
.navigation li { float: left; position: relative; }
#rss-links { float: right; margin: 0.3em 10px 0pt 0pt; font-size: 0.8em; }
ul#rss-links li { display: inline; text-decoration: none; padding: 0.25em 0.3em; }
ul#rss-links li a { text-decoration: none; }
body { background: url('untitled') no-repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); }
#main-container { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
a { color: rgb(0, 102, 153); }
a:hover { color: rgb(255, 102, 0); }
#header-container { background: url('untitled') no-repeat scroll 0% 0% rgb(255, 255, 255); }
h1.blogname a, h2.blogname a { color: rgb(0, 102, 153); }
h2.blog-title { color: rgb(102, 102, 102); }
#nav-ad-container { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#nav1-container, #nav2-container { background: none repeat scroll 0% 0% rgb(242, 242, 242); }
#nav1-container, #nav2-container { border-color: rgb(0, 102, 153); }
ul.navigation li a, .navigation ul { background: none repeat scroll 0% 0% rgb(242, 242, 242); }
.navigation li a, #rss-links, #rss-links a, ul.navigation li:hover a { color: rgb(0, 0, 0); }
ul.navigation li a:hover, ul.navigation li:hover a:hover, .navigation li.current-menu-item a { background: none repeat scroll 0% 0% rgb(0, 102, 153); color: rgb(255, 255, 255); border-color: rgb(0, 102, 153); }
.navigation a { border-color: rgb(238, 238, 238); }
h4.widget-title, h4.widget-title a { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); }
.widget { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); border-color: rgb(255, 255, 255); }
.widget a { color: rgb(0, 102, 153); }
.widget a:hover { color: rgb(255, 102, 0); }
.widget ul li:hover { background: none repeat scroll 0% 0% rgb(221, 221, 221); }
.widget ul li { border-color: rgb(255, 255, 255); }
.widget_subscribebox { border-color: rgb(238, 238, 238); background: url('subscribe-bg.png') no-repeat scroll 100% 0pt rgb(255, 255, 255); color: rgb(0, 0, 0); }
#footer { background: none repeat scroll 0% 0% rgb(4, 72, 106); }
.post-title a { color: rgb(0, 102, 153); }
.post-title a:hover { color: rgb(255, 102, 0); }
.post-meta { color: rgb(187, 187, 187); }
.post-meta a { color: rgb(0, 102, 153); }
li.comment { background: none repeat scroll 0% 0% rgb(246, 246, 246); border-color: rgb(221, 221, 221); color: rgb(0, 0, 0); }
li.comment .avatar { background: none repeat scroll 0% 0% rgb(221, 221, 221); }
li.comment .bypostauthor { background: none repeat scroll 0% 0% rgb(205, 236, 252); border-color: rgb(138, 215, 254); }
div.reply a, #commentform #submit, a#cancel-comment-reply-link, span.post-a-comment a { background: none repeat scroll 0% 0% rgb(0, 102, 153); color: rgb(255, 255, 255); }
div.reply a:hover, #commentform #submit:hover { background: none repeat scroll 0% 0% rgb(5, 168, 249); }
#commentform { background: none repeat scroll 0% 0% rgb(246, 246, 246); color: rgb(0, 0, 0); }
#rp-wrapper { background: none repeat scroll 0% 0% rgb(221, 221, 221); color: rgb(0, 0, 0); }
#rp-wrapper a { color: rgb(0, 0, 0); }
#rp-wrapper a:hover { color: rgb(255, 102, 0); }
#author-info, .post-nav { background: none repeat scroll 0% 0% rgb(221, 221, 221); color: rgb(0, 0, 0); }
#copyright { background: none repeat scroll 0% 0% rgb(221, 221, 221); color: rgb(34, 34, 34); border-color: rgb(204, 204, 204); }
#copyright a { color: rgb(34, 34, 34); }
body { font-family: Verdana,Geneva,sans-serif; font-size: 12px; }
h4.widget-title { font-family: Verdana,Geneva,sans-serif; font-size: 1em; }
.widget { font-size: 1em; }
h1.post-title { font-family: Verdana,Geneva,sans-serif; font-size: 3em; }
#content { font-size: 1em; }
.addthis_toolbox.atfixed { position: fixed; top: 30%; left: 20px; border: 0px solid rgb(238, 238, 238); padding: 5px 5px 1px; width: 32px; border-radius: 4px 4px 4px 4px; }
.wp_syntax { color: rgb(17, 0, 0); background-color: rgb(249, 249, 249); border: 1px solid silver; margin: 0pt 0pt 1.5em; overflow: auto; }
.wp_syntax { overflow-x: auto; overflow-y: hidden; width: 100%; }
.wp_syntax div, .wp_syntax td { vertical-align: top; padding: 2px 4px; }
.wp_syntax pre { margin: 0pt; width: auto; float: none; clear: none; overflow: visible; font-size: 12px; line-height: 1.333; white-space: pre; }
.style1 { background: none repeat scroll 0% 0% rgb(214, 214, 216); }
.tabber { display: none; }
.fb_iframe_widget { position: relative; display: inline-block; }
.fb_iframe_widget iframe { position: relative; vertical-align: text-bottom; }
.fb_iframe_widget span { position: relative; }
.fb_hide_iframes iframe { position: relative; left: -10000px; }
.fb_edge_widget_with_comment { position: relative; }
.IL_AD { border-bottom: 1px solid rgb(0, 102, 153) ! important; text-decoration: underline ! important; color: rgb(0, 102, 153) ! important; background: none repeat scroll 0% 50% transparent ! important; cursor: pointer ! important; position: static; display: inline ! important; padding: 0pt 0pt 1px ! important; float: none ! important; }
.IL_BASE { margin: 0pt; padding: 0pt; border: 0pt none; outline: 0pt none; font: 13px trebuchet MS,Arial,sans-serif; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; list-style: none outside none; text-decoration: none; text-align: left; float: none; }
.IL_BASE * { margin: 0pt; padding: 0pt; border: 0pt none; outline: 0pt none; font: 13px trebuchet MS,Arial,sans-serif; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; list-style: none outside none; text-decoration: none; text-align: left; float: none; }
a.IL_BASE:hover { background-color: transparent ! important; }
#IL_AD1 { font-family: Verdana,Geneva,sans-serif ! important; font-weight: 400 ! important; font-style: normal ! important; font-size: 12px ! important; }
#IL_AD2 { font-family: Verdana,Geneva,sans-serif ! important; font-weight: 400 ! important; font-style: italic ! important; font-size: 18px ! important; }
#IL_AD3 { font-family: Verdana,Geneva,sans-serif ! important; font-weight: 400 ! important; font-style: normal ! important; font-size: 12px ! important; }
#IL_AD4 { font-family: Verdana,Geneva,sans-serif ! important; font-weight: 400 ! important; font-style: normal ! important; font-size: 12px ! important; }
#IL_AD5 { font-family: Verdana,Geneva,sans-serif ! important; font-weight: 400 ! important; font-style: normal ! important; font-size: 12px ! important; }
#IL_AD6 { font-family: Verdana,Geneva,sans-serif ! important; font-weight: 400 ! important; font-style: normal ! important; font-size: 12px ! important; }
#IL_AD7 { font-family: Verdana,Geneva,sans-serif ! important; font-weight: 700 ! important; font-style: normal ! important; font-size: 12px ! important; }
#IL_AD8 { font-family: Verdana,Geneva,sans-serif ! important; font-weight: 400 ! important; font-style: normal ! important; font-size: 12px ! important; }
#IL_AD9 { font-family: Verdana,Geneva,sans-serif ! important; font-weight: 400 ! important; font-style: normal ! important; font-size: 12px ! important; }
#IL_AD10 { font-family: Verdana,Geneva,sans-serif ! important; font-weight: 400 ! important; font-style: normal ! important; font-size: 12px ! important; }
#IL_AD11 { font-family: Verdana,Geneva,sans-serif ! important; font-weight: 400 ! important; font-style: italic ! important; font-size: 18px ! important; }
#IL_AD12 { font-family: Verdana,Geneva,sans-serif ! important; font-weight: 400 ! important; font-style: normal ! important; font-size: 12px ! important; }
.IL_TC UL LI { padding: 0px 5px ! important; margin: 0px ! important; background-color: transparent; background-image: none ! important; border: medium none ! important; vertical-align: top ! important; width: auto ! important; cursor: pointer ! important; font-size: 20px; color: rgb(0, 153, 0); }
.IL_BUBBLE_BG { background-color: transparent; background-repeat: no-repeat; background-attachment: scroll; background-position: 0pt 0pt; background-image: url('undefined') ! important; }
.IL_BUBBLE_BTN { background-position: 0pt -23px ! important; }
