<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>See You Later!</title>
  </head>
  <body>
    <h1>Goodbye!</h1>
    <p>It was nice having you here.</p>
    <p>Jump to <%= link_to("Hello", :action=>"hello") %></p>
  </body>
</html>
