#abg { color: rgb(0, 0, 0); font-family: arial,sans-serif; font-size: 12px; font-weight: bold; text-decoration: underline; white-space: nowrap; }
#abg:hover { text-decoration: underline; }
.al { font-family: arial,sans-serif; font-size: 13px; line-height: 14px; white-space: nowrap; }
.al .alt, .al a { color: rgb(255, 255, 255); font-weight: normal; text-decoration: underline; white-space: nowrap; }
.al a:hover { text-decoration: underline; }
